NEXT_PUBLIC_APP_NAME=Amir Family Care
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=Amir_Status_bot
NEXT_PUBLIC_ENABLE_MOCK_TELEGRAM=true
NEXT_PUBLIC_DEFAULT_LOCALE=ru-RU
NEXT_PUBLIC_DEFAULT_TIMEZONE=Europe/Moscow
